<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.30.0" manuallyInstalled="true" />
  <package id="KeraLua" version="1.4.3" />
  <package id="NLua" version="1.7.4" manuallyInstalled="true" />
  <package id="Samboy063.Tomlet" version="6.0.0" manuallyInstalled="true" />
  <package id="System.Reactive" version="6.0.1" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" />
</packages>